body{
	background-color:  white;
}
.device {
	float :left;
	display:inline-table;
}
#devices > div > fieldset > * {
	display: block;
}
.sensor{
	float: right;
}
#chat{
	text-align: center;
}

#box {
	height: 400px;
	width: 70%;
	margin: auto;
	border-style: solid;
	border-width: thin;
	border-color: gray;
}
#chat_controllers{
	width: 100%;
	height: 10%;
	display: flex;
	
}
#send{
	flex: 1;
	box-sizing: border-box;
}
#text{
	flex: 9;
	box-sizing: border-box;
}
#chatbox{
	height: 90%;
	width: 100%;
	background-color: white;
	margin: auto;
	overflow: auto;
	display: block;
}
.leftside{
	float: left;
	background-color:rgb(179, 179, 179);
}
.rightside{
	float: right;
	background-color: blue;
}
.rightside , .leftside{
	max-width: 60%;
	display: block;
	margin: 0.5%;
	padding: 2%;
	border-radius: 25px;

}
.outer{
	width: 100%;
	display: inline-block;
}
.rightside > .message {
	color: honeydew;
	overflow-wrap: break-word;
}
.leftside > .message{
	overflow-wrap: break-word;
	text-align: left;
}